astral==2.2
-e git+https://github.com/dhocker/athomesocketserver.git#egg=athomesocketserver
certifi
chardet
future
idna
iso8601
pyserial
pytz
PyYAML
requests
urllib3
meross-iot==0.4.3.0
python-kasa==0.4.0
